@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: transparent;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  user-select: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:focus {
  outline: transparent;
}

button:disabled {
  cursor: default;
}

.sign-up__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.88);
}

.sign-up__overlay--hidden {
  display: none;
}

.sign-up__overlay--animation {
  animation: fade-in 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sign-up__modal {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #28302a;
  color: #ffffff;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.sign-up__modal p {
  margin: 0;
}

.sign-up__bonus-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
}

.sign-up__bonus-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #062c14;
  background-image: url(./img/indian.png), url(./img/bonus-decor.jpg);
  filter: blur(5px);
}

.sign-up__bonus-you-win-text {
  display: none;
}

.sign-up__bonus-payments-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 4px;
  font-size: 16px;
}

.sign-up__bonus-big-text {
  font-size: 24px;
}

.sign-up__accent-text {
  color: #fedf00;
}

.sign-up__bonus-img-wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.sign-up__bonus-img {
  filter: drop-shadow(0px 9px 21px rgba(0, 224, 52, 0.5));
}

.sign-up__content {
  position: relative;
  padding: 32px;
}

.sign-up__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 6px;
}

.sign-up__form {
  max-width: 400px;
  margin: 0 auto;
  word-wrap: break-word;
}

.sign-up__form-fieldset {
  display: contents;
}

.sign-up__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.sign-up__email-label::after {
  content: "*";
}

.sign-up__email-input,
.sign-up__input-stub {
  width: 100%;
  height: auto;
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 10px 16px;
  background-color: #3e4a41;
  border: none;
  border-radius: 12px;
  box-shadow: none;
  color: inherit;
  font-size: 14px;
}

.sign-up__email-input::placeholder {
  color: #8f969c;
}

.sign-up__email-error {
  display: none;
  margin-top: 8px;
  color: #e63946;
  font-size: 0.8em;
}

.sign-up__email-error--visible {
  display: block;
}

.sign-up__country-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  margin: 20px 0;
}

.sign-up__country-img {
  margin-right: 8px;
}

.sign-up__agree-wrapper {
  display: flex;
  align-items: center;
  padding-left: 28px;
  cursor: pointer;
}

.sign-up__check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sign-up__check-box {
  position: absolute;
  margin-left: -28px;
  width: 20px;
  height: 20px;
  background-image: url(./img/checkbox.png);
  background-size: 20px;
}

.sign-up__check-input:checked + .sign-up__check-box {
  background-image: url(./img/checkbox-checked.png);
}

.sign-up__check-input:focus-visible + .sign-up__check-box {
  outline: -webkit-focus-ring-color auto 1px;
}

.sign-up__divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #697a6d;
}

.sign-up__submit-btn {
  width: 100%;
  padding: 10px 24px;
  background-color: #fedf00;
  color: #151718;
  box-shadow: none;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media all and (hover: hover) {
  .sign-up__submit-btn:hover:not(:disabled):not(.sign-up__submit-btn--disabled),
  .sign-up__submit-btn:focus-visible:not(:disabled):not(
      .sign-up__submit-btn--disabled
    ) {
    background-color: #ffd816;
  }
}

.sign-up__submit-btn--disabled,
.sign-up__submit-btn:disabled {
  background-color: #ac9700;
  cursor: default;
}

@media (min-width: 800px) {
  .sign-up__overlay {
    backdrop-filter: blur(4px);
  }

  .sign-up__modal {
    max-width: min(800px, calc(100% - 40px));
    height: auto;
    max-height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 16px;
  }

  .sign-up__bonus-wrapper {
    font-size: 28px;
  }

  .sign-up__bonus-you-win-text {
    display: block;
  }

  .sign-up__bonus-payments-wrapper {
    display: block;
    font-size: inherit;
  }

  .sign-up__bonus-big-text {
    font-size: 40px;
  }

  .sign-up__bonus-img-wrapper {
    margin-top: 12px;
  }

  .sign-up__bonus-img {
    width: 120px;
    height: 120px;
  }

  .sign-up__title {
    margin-bottom: 24px;
  }

  .sign-up__country-wrapper {
    margin: 16px 0;
  }

  .sign-up__divider {
    margin: 16px 0;
  }
}
